link(rel="stylesheet", href="/question-container/question-container.css")

div(class="question-container-wrapper")
    div(class="question-container") #{details.question}
    div(class="options-container-wrapper")
        form(action="/answer/#{details.id}", method="post")
            for option, index in details.options
                label(class="options-container", for="radio_#{index}")
                    input(type="radio", name="option", value="#{option}", id="radio_#{index}")
                    span(class="answer-span", title="#{option}") #{option}
            div(class="commit-button")
                - var submitValue = "COMMIT"
                include ../submit-button/submit-button.jade
